*{
    margin:0px;
    padding:0px;
}
body{
    background-color: bisque;
    background-image: url(../images/pixel-art.png);
    background-repeat: no-repeat;
    background-position:center;
    background-attachment: fixed;
    background-size:800px;
    
} 


.main{
    background-color: rgb(161, 55, 72);
    text-transform: capitalize;
    margin: auto;
    padding: 20px;
    width: 70%;
    border-radius: 20px;
    text-align: center;
    color: blanchedalmond;

}
.play{
    background-color: rgb(161, 55, 72);
    border: none;
    padding: 20px;
    border-radius: 40px;
    text-align: center;
    font-size: 18px;
    position: fixed;
    bottom: 20px;
    right: 45%;
}
.play:hover{
    background-color: rgb(243, 181, 191);
    transform: scale(1.02);

}
.play a{
    text-decoration: none;
    color: blanchedalmond;
}
.play a:hover{
    color: rgb(245, 204, 143);
}